/* A web presentation for Flagella Hotels GmbH u. Co. KG, Beelitz-Heilstaetten. Made by Taller, A.D. 2019 */
 :root {
     --main-bg-color: #000000;
     --secondary-color: #ff6600;
     --tertiary-color: #cccccc;
     --heading-font: "Archivo Black";
     --paragraph-font: "Merriweather";
}

 #main__body {
     background-color: var(--main-bg-color, black);
     margin: 0;
     padding: 0;
     text-align: center;
}
 #main__body a {
     text-decoration: none;
}

 #main__wrapper {
     width: 950px;
     margin: 0 auto 3em auto;
     text-align: left;
}

/* CSS for header begins here */
 .header__top-menu {
     text-transform: uppercase;
     font-family: var(--paragraph-font, serif);
     letter-spacing: 0.3em;
     font-size: 1.25rem;
     text-align: center;
     color: var(--tertiary-color, #cccccc);
}
 .top-menu__itemlist {
     list-style-type: none;
}
 .top-menu__item {
     display: inline;
}
 .tmenu-link {
     color: var(--tertiary-color, #cccccc);
}
 .tmenu-link:hover {
     color: white;
}
 .header__logo {
     font-size: 3rem;
     color: var(--secondary-color, #ff6600);
     text-transform: uppercase;
     font-family: var(--heading-font, sans-serif);
     letter-spacing: 0.25em;
     line-height: 1.05em;
     text-align: center;
     margin: 1.05em 0;
}

/* CSS for title articles begins here */

 .title-article {
     margin: 2.75em 0;
}
 .title-article__text {
     color: var(--tertiary-color, #cccccc);
     font-family: var(--paragraph-font, serif);
     line-height: 1.375em;
     max-width: 80ch;
}
 .title-article__heading {
     color: var(--tertiary-color, #cccccc);
     font-family: var(--heading-font, sans-serif);
     font-size: 2.25rem;
     line-height: 1.25;
     font-weight: 200;
     letter-spacing: 0.25;
}

/* CSS for resort list begins here */
 .resorts {
     width: 80%;
}
 .resorts__list {
     list-style-type: none;
     text-align: center;
}
 .resorts__item {
     line-height: 2.25;
}
 .res-link {
     font-size: 1.25rem;
     color: var(--secondary-color, #ff6600);
     font-family: var(--paragraph-font, serif);
}
 .res-link:hover {
     color: white;
}
     

/* CSS for references begins here */
 .title-article-x {
     background-color: aqua;
     margin: 1em auto;
}
 .refs__header {
     background-color: red;
     width: 80%;
     margin: 1em auto;
}
 .refs__row {
     background-color: blue;
     width: 80%;
     margin: 0 auto 3em auto;
     text-align: center;
}
 .refs__card {
     background-color: green;
     margin: 15px;
}
 .refs__experience {
     background-color: yellow;
     margin: 0 2em;
     line-height: 1.5;
}
 .refs__testament {
     background-color: brown;
     margin: 0 2em;
     line-height: 1.5;
}
 .refs__source {
     font-style: italic;
}
 .refs__diamond {
     background-color: silver;
     margin: 0 2em;
     line-height: 1.5;
} 

/* CSS for staff table begins here */
 .chars__wrapper {
      background-color: var(--main-bg-color, #000000);
      color: var(--secondary-color, #ff6600);
}
 .chars__column {
     float: left;
     width: 33.3%;
     overflow: hidden;
}
 .chars__img-container {
     width: 7.5em; 
}
 .chars__photo {
     width: 100%;
     border-radius: 3.75em;
}
 .chars__name {
     font-family: var(--heading-font, sans-serif);
     font-size: 1.75em;
     line-height: 1.125em;
     color: var(--secondary-color, #ff6600);
     font-weight: 200;
}
 .chars__card-title {
     font-family: var(--heading-font, sans-serif);
     font-size: 1.125em;
     line-height: 1.222em;
     color: var(--tertiary-color, #cccccc);
     font-weight: 200;
}
 .chars__card-text {
     font-family: var(--paragraph-font, serif);
     line-height: 1.5em;
     color: var(--secondary-color, #ff6600);
}

/* CSS for pricing tables begins here */
 .pricing {
     font-family: var(--paragraph-font, serif);
     text-align: center;
     width: 80%;
     margin: 0 auto 3em auto;
}
 .pricing__table {
     float: left;
     width: 33.3%;
     overflow: hidden;
     color: var(--secondary-color, #ff6600);
}
 .pricing-table__header {
     font-size: 1.25em;
     color: var(--secondary-color, #ff6600);
     font-family: var(--heading-font, sans-serif);
}
 .pricing-table__price {
     font-size: 1.75em;
     color: var(--secondary-color, #ff6600);
     font-family: var(--heading-font, sans-serif);
}
 .pricing-table__img-container {
     display: block;
     width: 20em;
     height: 11.25em;
     margin-left: auto;
     margin-right: auto;
}
 .pricing-table__button {
     display: block;
     background: var(--secondary-color, #ff6600);
     color: #212121;
}
 .pricing-table__more {
     display: block;
     background: var(--tertiary-color, #cccccc);
     color: #212121;
}
 .pricing-table__list {
     list-style-type: none;
}
 .pricing-table__point {
     color: var(--secondary-color, #ff6600);
     border-bottom: 1px solid var(--secondary-color, #ff6600);
}


/* Special List CSS begins here */
 .special-list-wrapper {
     display: block;
     margin-left: auto;
     margin-right: auto;
     color: var(--tertiary-color, #cccccc);
     background-image: linear-gradient(45deg, rgba(120,120,120,0.7), rgba(120,120,120,0));
     width: 33%;
}
 .special-list--left {
     text-align: left;
     padding: 0.75em;
     letter-spacing: 0.2em;
}
 .special-list--right {
     text-align: right;
     padding: 0.75em;
     letter-spacing: 0.2em;
}

/* Clearfix */
 .clearfix::after {
     content: "";
     clear: both;
     display: table;
     background-color: #0000ff;
     line-height: 0;
     height: 0;
}

/* Other Employees CSS begins here  - TO BE ACTIVATED LATER */
 .belt-wrapper {
     text-transform: uppercase;
     color: var(--tertiary-color, #cccccc);
}
 .belt__list {
     list-style-type: none;
}
 .belt__name {
     letter-spacing: 0.375em;
     display: inline;
}
 .belt__role {
     letter-spacing: 0;
     text-transform: none;
}

 #main__footer {
     font-size: 1rem;
     color: #000000;
     background: var(--secondary-color, #ff6600);
     text-align: center;
}

/* Temporary styles for testing purposes - delete all of this in the final version.

section {
     background: #ff0000;
}
 #our-resorts ul {
     background: #ddeeff;
}
 .special-list {
     background: #0000ff;
}
 .chars-card {
     background: #ff00ff;
}
 .pricing-weapper {
     background: #565656;
     {
        